name: hugo-modules-caching

on:
  workflow_dispatch:

jobs:
  publish:
    strategy:
      matrix:
        version:
          - '0.115.0'
          - '0.116.0'
          - '0.118.0'
          - '0.119.0'
          - '0.120.0'
          - '0.121.0'
          - '0.122.0'
          - '0.123.7'
          - '0.123.8'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Check Hugo Modules Caching
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: ${{ matrix.version }}
          extended: true

      - name: Cache Hugo modules
        uses: actions/cache@v4
        with:
          path: /home/runner/.cache/hugo_cache
          key: ${{ runner.os }}-hugomod-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-hugomod-

      - name: Print HUGO_CACHEDIR env
        run: echo "$HUGO_CACHEDIR"

      - name: Print Hugo cache directory
        run: hugo config | grep cachedir

      - name: Build
        working-directory: ${{ inputs.name }}
        run: |
          hugo --minify --gc
